@model ProjectFilm_CNPM.Models.ERD.BaiViet
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var item = Model;
}

<div class="main-banner" id="top">

</div>
<div class="container">
    <h1 class="display-4 text-center">@item.TenBV</h1>
    <div class="text-center my-4">
        <img src="~/Public/img/baiviet/@item.Anh" class="img-fluid w-75">
    </div>
    <div class="article-content">
        <p class="synopsis-desc">@item.ChiTiet</p>
    </div>
</div>

