﻿@model IEnumerable<ProjectFilm_CNPM.Models.ERD.Menu>

@foreach (var item in Model)
{
    <li class="scroll-to-section">
        <a href="@Url.Action("Index", "Site", new { slug = item.LienKet })">@item.TenMenu</a>
    </li>

}