@model IEnumerable<ProjectFilm_CNPM.Models.ERD.Slider>

<head>
    <style>
        .main-banner {
            background-image: url(Public/assets/images/banner-bg.jpg);
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 170px 0px 120px 0px;
        }

            .main-banner .item {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                border-radius: 25px;
                padding: 100px 100px;
                margin-left: 130px;
            }
    </style>
</head>
<div class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-banner">
                    @foreach (var slider in Model)
                    {
                        <div class="item" style="background-image: url('Public/img/slider/@slider.Anh');">
                            <div class="header-text">
                                @*<span class="category">@slider.TenChuDe</span>*@
                                <h2>@slider.TenSlider</h2>
                                <p>@slider.TuKhoa</p>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="#">Request Demo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <button role="presentation" class="owl-prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
