@model IEnumerable<ProjectFilm_CNPM.Models.ERD.Slider>

<head>
    <style>
        .main-banner {
            background-image: url(Public/assets/images/banner-bg.jpg);
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 170px 0px 120px 0px;
        }

            .main-banner .item {
                background-position: center center;
                background-size: cover;
                border-radius: 25px;
                padding: 220px 100px;
                margin-left: 130px;
            }

        .owl-carousel .owl-prev:last-child {
            display: none;
        }

    </style>
</head>
<div class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-banner">
                    @foreach (var slider in Model)
                    {
                        <div class="item" style="background-image: url('Public/img/slider/@slider.Anh');">
                            
                        </div>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>
